* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: black;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

.section-header {
  height: 100vh;
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.7) 0.033%,
      rgba(0, 0, 0, 0.1) 99.941%
    ),
    url(../img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 200px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
.nav-menu {
  padding: 30px 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 350px;
}

.nav-menu__logo {
  text-decoration: none;
  color: white;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.nav-menu__logo:hover {
  color: rgb(84, 250, 200);
}

.nav-menu-list {
  display: flex;
  gap: 80px;
  font-size: 20px;
}

.nav-menu-list__item {
  color: white;
  list-style: none;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.nav-menu-list__item:hover {
  color: rgb(84, 250, 200);
  text-decoration: underline;
}

.main-text-wrapper {
  padding: 0 20px;
}

.main-title {
  color: white;
  font-size: 60px;
  display: block;
  margin-bottom: 70px;
}

.main-title-frontend {
  color: rgb(84, 250, 200);
  font-size: 80px;
  text-transform: uppercase;
}

.main-button-about {
  display: inline-block;
  color: black;
  background-color: #fff;
  font-size: 18px;
  padding: 14px 7px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.main-button-about:hover {
  background-color: rgb(84, 250, 200);
}

/* Обо мне */

.section-about {
  margin-bottom: 200px;
}

.secondary-title {
  color: rgb(84, 250, 200);
  font-size: 100px;
  margin-bottom: 70px;
  text-decoration: underline;
}

.section-about__wrapper {
  display: flex;
  margin-bottom: 40px;
}

.section-about__paragraph {
  display: inline-block;
  width: 50%;
  margin-right: 250px;
}

.section-about__image {
  width: 25%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.third-title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 70px;
}

.section-about-skills__wrapper {
  display: flex;
  justify-content: space-between;
}

.section-about-skills__img {
  display: block;
  width: 10%;
}

.tailwind-logo {
  height: 80px;
}

/* портфолио */

.section-portfolio {
  background-color: #444444;
  padding: 100px;
  margin-bottom: 100px;
}

.portfolio-works-wrapper {
  display: flex;
  margin-bottom: 100px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.portfolio-card {
  border: 2px solid rgb(84, 250, 200);
  width: 30%;
  background-color: #fff;
  box-shadow: rgba(84, 250, 200, 0.25) 0px 54px 55px,
    rgba(84, 250, 200, 0.12) 0px -12px 30px,
    rgba(84, 250, 200, 0.12) 0px 4px 6px, rgba(84, 250, 200, 0.17) 0px 12px 13px,
    rgba(84, 250, 200, 0.09) 0px -3px 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 120px;
}

.portfolio-card__img {
  display: block;
  width: 100%;
  height: 160px;
  margin-bottom: 35px;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
}

.portfolio-card__text {
  display: block;
  text-align: center;
  padding: 0 10px 0 10px;
  margin-bottom: 30px;
}

.portfolio-card__button {
  display: block;
  width: 70%;
  margin: 0 auto 15px;
  text-align: center;
  background-color: #444444;
  padding: 10px 20px;
  color: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.portfolio-card__button:hover {
  background-color: #686868;
  color: rgb(84, 250, 200);
}

/* Контакты */

.section-contacts__title {
  text-align: center;
  margin-bottom: 15px;
}

.contacts__wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.contacts__wrapper > a {
  display: block;
}

.contacts__img {
  width: 50px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.contacts__img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.email-btn {
  display: block;
  margin: 50px auto 100px auto;
  width: 300px;
  text-align: center;
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.email-btn:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/* Футер */

.footer {
  height: 300px;
  background-color: black;
  color: white;
}

.mb-20 {
  margin-bottom: 20px;
}

.tel__text {
  display: inline-block;
  margin-left: 60%;
  margin-bottom: 15px;
}

.tel__text:hover {
  color: rgb(84, 250, 200);
  text-decoration: underline;
}

.mail__wrapper {
  margin-bottom: 70px;
}
.mail__text {
  display: inline-block;
  margin-left: 60%;
}

.mail__text:hover {
  color: rgb(84, 250, 200);
  text-decoration: underline;
}

.footer__year {
  color: #7d7d7d;
  font-size: 14px;
  text-align: center;
}
